
body {
    margin: 0px;
    padding: 0px;
}

.sketchContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}


.row {
    flex: 1 1 auto;
    min-width: 45px;
    min-height: 45px;
}



.btn {
    display: flex;
    justify-content: center;
    text-align: center;
}