
body {
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.sketchContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#container{
    min-height: 600px;
    max-height: 600px;
    min-width: 600px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 100%;
    display: flex;
}
.row  {
   flex-grow: 1;
   
}




.btn {
    display: flex;
    justify-content: center;
    text-align: center;
}