
body {
    margin: 0px;
    padding: 0px;
}

.sketchContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}


.row {
    width: 45px;
    height: 45px;
}



.btn {
    display: flex;
    justify-content: center;
    text-align: center;
}